<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Createev - Orders</title>
<style>
table .commands{
	padding-left:30px;
	font-family:"Bebas Neue";
	font-size:30px;
	
}

table .signout {
	font-family:"Bebas Neue";
	font-size:30px;
}

table .title {
	font-family:"Bebas Neue";
	font-size:30px;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: Gray;
}

/* selected link */
a:active {
  color:#333;
}

</style>
</head>

<body bgcolor="#FBCECE">
<table width="100%">
  <tr>
    <td width="20%"><a href="dashboard"> <img src="/LOGO.png" width="215" height="215" /></a></td>
    <td width="80%" align="right"><table height="250">
        <tr>
          <td class="signout" valign="top"><a href="/" style="text-decoration: none;">SIGN OUT</a></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td class="commands"><div><a href="/dashboard" style="text-decoration: none;">DASHBOARD</a></div>
      <div ><a href="/orders" style="text-decoration: none;">ORDERS</a></div>
      <div ><a href="/products" style="text-decoration: none;">PRODUCTS</a></div>
      <div ><a href="/customers" style="text-decoration: none;">CUSTOMERS</a></div></td>
    <td valign="top" bgcolor="#CCCCCC">
    <table WIDTH="100%">
        <tr class="title">
          <td width= "16.67%" align="center" > #</td>
          <td width="16.67%" align="center" bgcolor="#CCCCCC">ORDER NO:</td>
          <td width="16.67%" align="center" bgcolor="#CCCCCC">PRODUCT NO</td>
          <td width="16.67%" align="center" bgcolor="#CCCCCC">PRODUCT NAME</td>
          <td width="16.67%" align="center" bgcolor="#CCCCCC">QUANTITY</td>
          <td width="16.67%" align="center" bgcolor="#CCCCCC">STATUS</td>
        </tr>
        
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tr>
            <td width= "16.67%" align="center"><%=i %></td>
            <td width= "16.67%" align="center"><%=data.order_no %></td>
            <td width= "16.67%" align="center"><%=data.product_no %></td>
            <td width= "16.67%" align="center"><%=data.product_name %></td>
            <td width= "16.67%" align="center"><%=data.quantity %></td>
              <% if(data.status == "Delivered"){ %>
                 <td width= "16.67%" align="center"><%=data.status %></td>
              <% } else { %>
                <td width= "16.67%" align="center">
                <form action="/order-close/<%=data.order_no%>">
                <input type="submit" onclick="return confirm('Are you sure you wish to close this order?')" value="<%=data.status %>"/>
                </form>
                </td>
            <% } %>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="6" align="center">No Data Found</td>
            </tr>
        <% } %>
        
      </table>
    </td>
  </tr>
</table>

</body>
</html>
